body {
    font-family: sans-serif;
    padding: 20px;
}
#monitorMessages {
    height: 300px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
#monitorUserList {
    list-style-type: none;
    padding: 0;
}